.datePicker {
  margin-top: 5%;
}

.table-leave-container {
  text-align: center;
  margin-top: 5%;
}

.heading-container {
  text-shadow: 0 0 3px #d0ff63;
  text-align: center;
}

.submitButton {
  text-align: end;
}

.table-sm {
  margin-top: 2%;
  margin-left: 40%;
  border: 30px;
}

.toggle {
  text-align: end;
}

.btn {
  background-color: #000;
}

.container-leave {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.thead-container {
  background-color: #000;
  color: white;
}

.btn {
  color: white;
}
