.button-container {
  text-align: center;
}

.form-container {
  margin-top: 25%;
}

.registeration {
  color: blue;
}

.forgotPassword {
  color: blue;
  text-align: center;
}

.Forget-container {
  width: 50%;
  text-align-last: center;
}

.register-container {
  width: 50%;
  text-align-last: center;
}

.table-buttons {
  text-align: center;
}

.container {
  text-align: left;
}
